
.homepage-wrapper {
    padding-top: 5%;
    width: 50%;
    margin-left: 20%;
}

.devix-logo-homepage {
    display: block;
    max-width: 180px;
    margin: 5% auto 5% auto;
}

h3 {
    text-align: center;
    font-weight: lighter;
    font-size: 40px;
    text-transform: uppercase;
}

.banner-carousel-wrapper {
    margin-top: 10%;
}
