<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">
    <img class="devix-logo" src="assets/img/logo.png" alt="Devix Logo">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']"><i class="material-icons icon">home</i></a>
      </li>

      <li *ngIf="(isLogged$ | async)" class="nav-item">
        <a class="nav-link" [routerLink]="['/account-details']" tabindex="-1">My Account</a>
      </li>

      <li *ngIf="(isLogged$ | async)" class="nav-item">
        <a class="nav-link" [routerLink]="['/my-conferences']" tabindex="-1">My Conferences</a>
      </li>

      <li *ngIf="(isLogged$ | async)" class="nav-item">
        <a class="nav-link" [routerLink]="['/conferences']" tabindex="-1">Conferences</a>
      </li>

      <a class="nav-link" style="position: absolute; right: 0; margin-right: 15%;" [routerLink]="['/faq']">
        FAQ
      </a>

    </ul>



    <button *ngIf="!(isLogged$ | async)" class="btn btn-primary" style="float: right" [routerLink]="['/register']">
      Signin
    </button>

    <button *ngIf="!(isLogged$ | async)" class="btn btn-primary" style="float: right" [routerLink]="['/login']">
      Login
    </button>

    <button *ngIf="(isLogged$ | async)" class="btn btn-primary" style="float: right" (click)="logout()">
      Logout
    </button>
  </div>
</nav>