
.devix-logo {
    max-width: 80px;
    max-height: 80px;
}

.icon {
    font-size: 45px;
    color: black;
}

.icon:hover {
    color: rgba(0,0,0,.5);
}

.nav-link {
    margin: 10px 0 0 10px;
    font-size: 20px;
}
