h3 {
  padding: 0 0 20px 0;
  font-weight: lighter;
}

p {
  padding-bottom: 10px;
}

.map-container {
  margin-top: 2%;
}

.map-info-wrapper {
  width: 70%;
  margin: 0 auto;
}

.map {
  max-height: 70%;
  max-width: 80%;
}
